<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.lcvc.intern_choose.dao.ClassesDao">
    <!--==================================基本查询============================-->

    <select id="readAll"  resultType="Classes">
        select * from classes order by Id
    </select>

    <select id="get"  resultType="Classes">
        select * from classes where id=#{id}
    </select>

    <insert id="save">
         insert into classes (id,name,majorId,gradeId)
         values(null,#{name},#{majorId},#{gradeId})
    </insert>

    <insert id="update">
         update classes set name=#{name},majorId=#{majorId},gradeId=#{gradeId} where id=#{id}
    </insert>

    <delete id="delete">
        delete from classes where id=#{id}
    </delete>


</mapper>